body {
    background-image: url("https://wallpapercave.com/wp/wp8758452.jpg"); */
    background-size: cover;
    background-position: center;
    color: aliceblue;
    overflow: hidden;
    height: 100vh;
}

.navigation {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    position: absolute;
    top: 0;
    right: 20px;
    color: white;
}

.navigation p {
    margin-right: 10px; 
    color: white;
}

.navigation p:last-child {
    margin-right: 0; 
}

.navigation p:hover {
    color: rgb(253, 253, 253);
}


@media only screen and (max-width: 768px) {

    body {
        padding: 6em;
    }
    .container {
        max-width: 90%; 
    }
}

@media only screen and (max-width: 480px) {
    
    body {
        padding: 4em;
    }
    .container {
        max-width: 90%; 
    }
}

footer{
    margin-top: 20px; 
}

.navigation p a {
    display: inline-block;
    padding: 0px 10px;
    background-color: #8294a7; /* Blue color, change to your preferred color */
    color: #fff; /* Text color */
    text-decoration: none; /* Remove underline */
    border: none; /* Remove border */
    border-radius: 5px; /* Rounded corners */
    cursor: pointer; /* Show pointer cursor on hover */
}