body {
    background-image: url("https://c8.alamy.com/comp/2BGERAY/seamless-volume-white-pattern-flower-of-life-design-volume-background-floral-repetitive-light-geometric-texture-or-web-page-fill-looks-like-scales-2BGERAY.jpg");
    background-size: cover;
    background-position: center;
    color: aliceblue;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.button {
    display: inline-block;
    background-color: #007bff;
    color: #fff;
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    margin-left: 10%;
}

.button:hover {
    background-color: #0056b3;
}

h1 {
    color: black;
}

.navigation {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    position: absolute;
    top: 0;
    right: 20px;
    color: white;
    margin-bottom: 10px;
}

.navigation p {
    margin-right: 10px; 
    color: white;
}

.navigation p:last-child {
    margin-right: 0; 
}

.navigation p:hover {
    color: blue;
}

.navigation {
    margin-bottom: 20px;
}

.navigation p a {
    display: inline-block;
    padding: 0px 10px;
    background-color: #8294a7; /* Blue color, change to your preferred color */
    color: #fff; /* Text color */
    text-decoration: none; /* Remove underline */
    border: none; /* Remove border */
    border-radius: 5px; /* Rounded corners */
    cursor: pointer; /* Show pointer cursor on hover */
}

/* Media queries */
@media only screen and (max-width: 768px) {
    /* Adjust padding for body and containers */
    body {
        padding: 3%; /* Reduce padding for smaller screens */
    }
    .container {
        max-width: 90%; /* Adjust container width */
    }
}

@media only screen and (max-width: 480px) {
    /* Adjust padding for body and containers */
    body {
        padding: 2%; /* Further reduce padding for even smaller screens */
    }
    .container {
        max-width: 90%; /* Adjust container width */
    }
}
