/* CSS for User Information Form page */

body {
    background-image: url("https://wallpapercave.com/wp/wp8758452.jpg");
    background-size: cover;
    background-position: center;
    color: aliceblue;
    margin: 10% 0 0; /* Move the body down by 10% */
    font-family: Arial, sans-serif;
}

.container {
    width: 80%; /* Adjust the width of the container */
    margin: 0 auto; /* Center the container horizontally */
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.5); /* Semi-transparent white background */
    border-radius: 10px;
    text-align: center;
}

h1 {
    margin-bottom: 20px;
}

form {
    margin-bottom: 20px; /* Add space below the form */
}

label {
    display: block; /* Display labels in block style */
    margin-bottom: 5px; /* Add space below each label */
}

input, select, textarea {
    margin-bottom: 10px; /* Add space below each input element */
}

button[type="submit"] {
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button[type="submit"]:hover {
    background-color: #0056b3;
}


/* Media queries */
@media only screen and (max-width: 768px) {
    /* Adjust padding for body and containers */
    body {
        padding: 3%; /* Reduce padding for smaller screens */
    }
    .container {
        max-width: 90%; /* Adjust container width */
    }
}

@media only screen and (max-width: 480px) {
    /* Adjust padding for body and containers */
    body {
        padding: 2%; /* Further reduce padding for even smaller screens */
    }
    .container {
        max-width: 90%; /* Adjust container width */
    }
}
