/* CSS for User Profile page */

body {
    background-image: url("https://wallpapercave.com/wp/wp8758452.jpg");
    background-size: cover;
    background-position: center;
    color: aliceblue;
    margin: 0;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    width: 80%; /* Adjust the width of the container */
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.5); /* Semi-transparent white background */
    border-radius: 10px;
    text-align: center;
}

h1 {
    margin-bottom: 20px;
}

.user-info {
    margin-bottom: 10px;
}

.user-info p {
    margin: 5px 0;
}

button[type="submit"] {
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button[type="submit"]:hover {
    background-color: #0056b3;
}

.navigation {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    position: absolute;
    top: 0;
    right: 20px;
    color: white;
    margin-bottom: 10px;
}

.navigation p {
    margin-right: 10px; 
    color: white;
}

.navigation p:last-child {
    margin-right: 0; 
}

.navigation p:hover {
    color: blue;
}

.navigation {
    margin-bottom: 20px;
}

.navigation p a {
    display: inline-block;
    padding: 0px 10px;
    background-color: #8294a7; /* Blue color, change to your preferred color */
    color: #fff; /* Text color */
    text-decoration: none; /* Remove underline */
    border: none; /* Remove border */
    border-radius: 5px; /* Rounded corners */
    cursor: pointer; /* Show pointer cursor on hover */
}