<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
        <link rel="stylesheet" href="/css/home.css">
</head>
<body>
    
<h1> Errorr</h1>
<br>
<br>
<a href="/login" class="button">Click to login</a>
<br>


</body>
</html>